<div class="header">
    <h2>Contacts</h2>
</div>

<div>
    <div ng-controller="GetContactsCtrl">
        <ons-list>
            <ons-list-item ng-repeat="r in result" ng-hide="!result" modifier="chevron" class="list-item-container" ng-click="GetOneContact(r.id)">
                <ons-row>
                    <ons-col>
                        <div class="desc">
                            {{r.name}}
                        </div>
                    </ons-col>
                </ons-row>
            </ons-list-item>
        </ons-list>
    </div>
</div>